# JadeOSの公開runターゲットを、KVM利用のためサンドボックス外で実行する。
#
# make自体を丸ごと許可せず、指定したrun系ターゲットだけを許可する。

prefix_rule(
    pattern = [
        ["make", "/usr/bin/make"],
        [
            "run",
            "run-debug",
            "run-log",
            "run-debug-log",
            "rebuild-debug",
        ],
    ],
    decision = "allow",
    justification = "JadeOSのQEMU/KVM runターゲットをホスト環境で実行する",
    match = [
        "make run",
        "make run-debug",
        "make run-log",
        "make run-debug-log",
        "make rebuild-debug",
        "/usr/bin/make run-debug",
    ],
    not_match = [
        "make",
        "make iso",
        "make iso-debug",
        "make clean",
        "make distclean",
        "make run-internal",
        "make run-debug-extra",
    ],
)
