[user]
	name = seekerkrt
	email = seekerkrt@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
 	ui = auto

[core]
	autocrlf = input
	quotepath = false
	fileMode = false
   
[init]
	defautBranch = origin
[pull]
	rebase = true
