export LANG=ja_JP.UTF-8

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export XMODIFIER="@im=fcitx"
export XIM=fcitx
export DefaultIMModule=fcitx

export __GL_SYNC_TO_VBLANK=1
export QT_XFT=true
export GDK_USE_XFT=true
export GTK_USE_XFT=true

#ibus-daemon -drx

