[user]
	name = seekerkrt
	email = seekerkrt@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
 	ui = auto

[core]
	autocrlf = input
	quotepath = false
	fileMode = false
	quatopath = false
   
[init]
	defaultBranch = main
[pull]
	rebase = true
	ff = only
[sendpack]
	sideband = false
[push]
	followTags = true
[pager]
	log = false
[alias]
	mff = merge --ff-only
