AccessModifierOffset: -4
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: true
TabWidth: 4
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
SpaceAfterCStyleCast: false
#SpaceBeforeParens: ControlStatements
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 0
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Left
BreakBeforeBraces: Attach
